<div class="section-ticket">
<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field2">
    <%= form.label :name %>
    <%= form.text_field :name, class: "ticket1"%>
  </div>

  <div class="field2">
    <%= form.label :seat_id_seq, value= "Seat number" %>
    <%= form.text_field :seat_id_seq, class: "ticket2" %>
  </div>

  <div class="field2">
    <%= form.label :address %>
    <%= form.text_area :address, class: "ticket3"%>
  </div>

  <div class="field2">
  <%= form.label :price_sector %>
  <%= form.text_field :price_sector, class: "sector" %>
  </div>

  <div class="field2">
  <%= form.label :price %>
  <%= form.text_field :price, class: "ticket4" %>
  </div>

  <div class="field2">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, class: "ticket5" %>
  </div>
  
  <div class="field2">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "ticket6" %>
  </div>

  <div class="field2">
  <%= form.label :event_id %>
  <%= form.text_field :event_id, class: "ticket7" %>
  </div>

  <div class="field2">
  <%= form.hidden_field :user_id %>
  </div>

  <div class="actions1">
    <%= form.submit "Create Ticket", class: "create" %>
  </div>

<% end %>



</div>